// В этом файле должны быть стили для БЭМ-блока trial, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.trial {

  $block-name:                &; // #{$block-name}__element
  padding-top: 200px;

  &__list {
    list-style-type: none;
  }
}
