//------------------------------------------------------------------------------
//  Text mixins
//------------------------------------------------------------------------------

// visually hidden
@mixin hide-text {
  position: absolute;

  display: inline;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

// unsetting <button> browser styles
@mixin unbutton {
  display: unset;
  min-width: unset;
  max-width: unset;
  padding: unset;

  font: inherit;
  color: inherit;

  border: unset;
  background-color: unset;
  border-radius: unset;

  &:hover,
  &:focus,
  &:active {
    color: inherit;

    background-color: unset;
    box-shadow: unset;

    cursor: pointer;
  }
}

// hide (icon) label
// used for accessibility
@mixin unfont {
  font-size: 0;
  letter-spacing: -0.5em;
  text-decoration: none;
}
