// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
  box-sizing: border-box;

  display: inline-block;
  min-width: 180px;
  max-width: 100%;
  vertical-align: middle;
  padding: $field-padding-vertical  $field-padding-horizontal;
  margin: 0;

  font-family: inherit;
  font-size: 1em;
  line-height: $line-height;
  color: $text-color;
  text-transform: unset;
  text-overflow: ellipsis;
  text-align: center;
  text-decoration: unset;
  white-space: nowrap;

  border: unset;
  border-radius: $border-radius;
  background-color: $gray-lightest;
  background-image: unset;
  overflow: hidden;

  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $text-color;

    background-color: darken($gray-lightest, 10%);
    text-decoration: none;
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    color: $text-color;

    background-color: $gray-lightest;
    opacity: $opacity;
    cursor: not-allowed;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  &--main {
    color: #fff;

    background-color: $color-main;
    // border: 1px solid $color-main;

    &:hover,
    &:focus {
      color: #fff;

      background-color: darken($color-main, 10%);
      // border-color: darken($color-main, 12%);
    }

    &--disabled,
    &:disabled {
      color: #fff;

      background-color: $color-main;
      // border-color: $color-main;
    }

    &:active,
    &:focus {
      @include field-focus($color-main);
    }
  }
}
