// В этом файле должны быть стили для БЭМ-блока feature-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feature-list {

  $block-name:                &; // #{$block-name}__element

  list-style-type: none;

  &__feature {

    .icon {
      margin-right: 0.7em;

      fill: #ffa500; // ?
    }
  }
}
