// В этом файле должны быть стили для БЭМ-блока feature-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feature-list {

  $block-name:                &; // #{$block-name}__element

  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  columns: 3 300px;
  margin-bottom: $typo-margin-vertical * 2;

  list-style-type: none;

  &__feature {
    position: relative;

    max-width: 360px;
    padding-left: calc(0.7em + 1em);

    .icon {
      position: absolute;
      top: calc(16px / 4);
      left: 0;

      fill: #ffa500; // ?
    }
  }
}
