// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {
  $block-name:                &; // #{$block-name}__element

  @include pd($typo-margin-vertical);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 260px;

  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $bg;
  padding-bottom: $typo-margin-vertical * 3;

  & > :not(:last-child) {
    position: relative;

    padding-top: $typo-margin-vertical;
    padding-bottom: $typo-margin-vertical;

    &::after {
      @include size(calc(100% + 1em), 1px);

      content: '';
      position: absolute;
      bottom: 0;
      left: -0.5em;

      background-color: $border-color;
    }
  }

  .field-radio {
    width: 100%;

    &__name { // label
      display: flex;
      justify-content: center;
    }

    &__name-text {

      &--label {
        display: inline-flex;
        align-self: center;
        min-height: $line-height + $field-padding-vertical + $field-padding-vertical;
      }
    }

    &__input {

      &:checked ~ .btn { // stylelint-disable-line
        display: block;
      }

      &:checked ~ .field-radio__name-text--label { // stylelint-disable-line
        display: none;
      }
    }
  }

  .btn {
    z-index: 1;

    display: none;
  }

  &__title {
    font-weight: 500;
    text-align: center;
  }

  &__list {
    flex: 1 0 auto;

    list-style-type: none;
  }

  &__feature { // li
    @include mg-bottom($typo-margin-vertical / 2);
    position: relative;

    padding-left: 0.75em;

    &::before {

      @include round(6px);
      content: '';
      position: absolute;
      top: 0.5em;
      left: 0;

      background-color: $color-main;
    }
  }

  &__text {
    text-align: center;

    &--price {
      margin-top: $typo-margin-vertical;
    }
  }

  &__wrapper {

    &--select {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: $typo-margin-vertical;
    }
  }

  &--featured {
    position: relative;

    box-shadow: 0 -4px 8px -4px rgba(#000, 0.25);
    background-color: $white;

    &:not([data-text=''])::before {
      @include size(100%, 3.5em);
      content: attr(data-text);
      position: absolute;
      top: -3em;
      left: 0;
      z-index: -1;

      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0.5em;

      color: $white;
      text-transform: uppercase;

      background-color: $color-main;
      border-radius: $border-radius $border-radius 0 0;
    }
  }
}
