extends ../pug/layout.pug

block meta
  title Voverc — Select a plan for your trial
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +b.HEADER.header
    +e.inner.inner
      +logo()
        img(src='img/logo.png', alt='Voverc logo', width='100', height='26')

      +e.ADDRESS.address
        +e.A.link(href='tel:7783238486') 778-323-8486

      +e.A.link--chat(href='')
        +icon('speech-bubble', '16', '16')
        +e.SPAN.text Sales Chat

block content
  +b.SECTION.trial
    +e.inner.inner
      +e.OL.list-steps
        +e.LI.step--1.--complete
          +e.wrapper--step
            +icon('check-mark', '21', '21')
            span Choose number
        +e.LI.step--2.--current
          +e.wrapper--step
            +icon('clipboard', '21', '21')
            span Choose plan
        +e.LI.step--3
          +e.wrapper--step
            +icon('group', '24', '24')
            span Add users
        +e.LI.step--4
          +e.wrapper--step
            +icon('order', '21', '21')
            span Checkout

      +e.OL.list-content
        +e.LI.item
        +e.LI.item--current
          +e.HEADER.heading
            +e.H2.title Select a plan for your trial
            +b.info
              +e.I.title i
              +e.wrapper
                +e.P.text Some helpful information

          +b.UL.plan

            +e.LI.item
              +b.ARTICLE.card
                +e.H3.title Essentials™
                +e.UL.list
                  +e.LI.feature Up to 10 users
                  +e.LI.feature Toll-free or local number
                  +e.LI.feature 100 toll-free min/mo
                  +e.LI.feature 4 people per video meeting
                +e.wrapper
                  +e.P.text
                    b Price after the trial
                  +e.P.text--price from #[b $ 29.99] /user/month
                +e.wrapper--select
                  +b.field-radio
                    +e.input-wrap--trial
                      +e.LABEL.name
                        +e.INPUT.input(type='radio', name='radio')
                        +e.SPAN.name-text
                        +e.SPAN.name-text--label Select this plan
                        +btn('Continue', 'main')(href='/')

            +e.LI.item
              +b.ARTICLE.card
                +e.H3.title Standard™
                +e.UL.list
                  +e.LI.feature Unlimited users
                  +e.LI.feature Toll-free or local number
                  +e.LI.feature 1,000 toll-free min/mo
                  +e.LI.feature 4 people per video meeting
                  +e.LI.feature Unlimited internet fax
                +e.wrapper
                  +e.P.text
                    b Price after the trial
                  +e.P.text--price from #[b $ 34.99] /user/month
                +e.wrapper--select
                  +b.field-radio
                    +e.input-wrap--trial
                      +e.LABEL.name
                        +e.INPUT.input(type='radio', name='radio')
                        +e.SPAN.name-text
                        +e.SPAN.name-text--label Select this plan
                        +btn('Continue', 'main')(href='/')

            +e.LI.item
              +b.ARTICLE.card--featured(data-text='Most popular')
                +e.H3.title Premium™
                +e.UL.list
                  +e.LI.feature Unlimited users
                  +e.LI.feature Toll-free or local number
                  +e.LI.feature 1,500 toll-free min/mo
                  +e.LI.feature 50 people per video meeting
                  +e.LI.feature Unlimited internet fax
                +e.wrapper
                  +e.P.text
                    b Price after the trial
                  +e.P.text--price from #[b $ 44.99] /user/month
                +e.wrapper--select
                  +b.field-radio
                    +e.input-wrap--trial
                      +e.LABEL.name
                        +e.INPUT.input(type='radio', name='radio')
                        +e.SPAN.name-text
                        +e.SPAN.name-text--label Select this plan
                        +btn('Continue', 'main')(href='/')

            +e.LI.item
              +b.ARTICLE.card
                +e.H3.title Ultimate™
                +e.UL.list
                  +e.LI.feature Unlimited users
                  +e.LI.feature Toll-free or local number
                  +e.LI.feature 2,500 toll-free min/mo
                  +e.LI.feature 75 people per video meeting
                  +e.LI.feature Unlimited internet fax
                  +e.LI.feature Automatic call recording
                  +e.LI.feature Voicemail-to-text
                +e.wrapper
                  +e.P.text
                    b Price after the trial
                  +e.P.text--price from #[b $ 59.99] /user/month
                +e.wrapper--select
                  +b.field-radio
                    +e.input-wrap--trial
                      +e.LABEL.name
                        +e.INPUT.input(type='radio', name='radio')
                        +e.SPAN.name-text
                        +e.SPAN.name-text--label Select this plan
                        +btn('Continue', 'main')(href='/')
        +e.LI.item
        +e.LI.item

  +b.SECTION.features
    +e.inner.inner
      +e.HEADER.header
        +e.H2.title A complete phone system

      +b.UL.feature-list
        - for (var i = 0; i < 24; i++)
          +e.LI.feature
            +icon('cloud', '16', '16')
            +e.SPAN.title Some feature


  //- +btn('hello')

//- block footer
//-   +page-footer()

//- block append page-bottom
//-   script(src='js/some.js')
