// В этом файле должны быть стили для БЭМ-блока features, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.features {

  $block-name:                &; // #{$block-name}__element

  padding-top: $typo-margin-vertical;
  padding-bottom: $typo-margin-vertical * 5;

  color: $gray-lightest;

  background-color: $text-color;

  &__header {
    display: flex;
    justify-content: center;
    padding-top: $typo-margin-vertical;
    padding-bottom: $typo-margin-vertical;
    margin-bottom: $typo-margin-vertical;

    border-bottom: 2px solid $gray;
  }

  &__title {
    max-width: 20em;

    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  &__text {
    text-align: center;
  }
}
